# Convert a integer to a floatig-point number

In [9]:
a=2
type(a)

int

In [10]:
f=float(a)
type(f)

float

# Convert a float to a integer

In [11]:
b = 22.9
type(b)

float

In [14]:
c=int(b)
type(b)

int

# Convert a integer to a string

In [20]:
x = 4
type(x)

int

In [21]:
s = str(x)
type(s)

str

# Convert a list to a tuple

In [25]:
l1= [1,2,4,5,67,7]
type(l1)

list

In [26]:
t1=tuple(l1)
type(t1)

tuple

# Convert a tuple to a list

In [34]:
t2=(1,2,3,4,7)
type(t2)

tuple

In [35]:
l2=list(t2)
type(l2)

list

# Convert a decimal number to binary

In [41]:
d1= 10
b1=bin(d1)
print(b1)

0b1010

# Covert a non-zero number to boolean.

In [48]:
nz=71
b2=bool(nz)
type(b2)

bool

In [49]:
print(b2)

True